[submodule "opendbc"]
	path = opendbc
	url = git@github.com:BogGyver/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = https://github.com/commaai/laika.git
[submodule "apks"]
	path = apks
	url = https://github.com/commaai/openpilot-apks.git
[submodule "cereal"]
	path = cereal
	url = git@github.com:BogGyver/cereal.git
[submodule "panda"]
	path = panda
	url = git@github.com:BogGyver/panda.git
